@use '../../../src/scss/settings' as *;
@use '../../../src/scss/tools' as *;

.hero {
	padding-top: 50px;
	position: relative;

	&__backgroundImage {
		height: 100%;
		left: 0;
		object-fit: cover;
		opacity: 0.5;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 20;
	}

	&__wrapper {
	}

	&__helper {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 50px;
		margin: 0 auto;
		max-width: 1024px;
		position: relative;
		z-index: 50;

		@include rwd('tablet') {
			gap: 25px;
		}

		&--normal {
		}

		&--reverse {
			flex-direction: row-reverse;
		}
	}

	&__content {
		@include tilesWidthCustom(25px, 2, 100);

		text-align: center;

		@include rwd('tablet') {
			width: 100%;
		}
	}

	&__heading {
		font-family: $f-Mackinac;
	}

	&__headingItem {
		b {
			padding: 0 4px 0 2px;
			position: relative;
			z-index: 1;

			&:after {
				background-image: url('../../../public/img/icons/underline-icon.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				bottom: 4px;
				content: '';
				display: block;
				height: 12px;
				position: absolute;
				right: 0;
				width: 200px;
				z-index: -1;

				@include rwd('laptop') {
					bottom: 0;
					height: 11px;
					left: 0;
					right: auto;
					width: 140px;
				}

				@include rwd('phone-xxl') {
					bottom: -4px;
					height: 11px;
					left: 0;
					right: auto;
					width: 100px;
				}

				@include rwd('phone') {
					display: none;
				}
			}
		}

		@include heroHeading();
	}

	&__text {
		margin-top: 24px;

		@include textContent();
		@include wysiwygContent();
	}

	&__actions {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: center;
		margin-top: 24px;
	}

	&__slider {
		max-width: 1024px;
		position: relative;
	}

	&__slide {
		img {
			border-radius: 16px;
			height: auto;
			max-height: 500px;
			object-fit: cover;
			object-position: center;
			width: 100%;
		}
	}

	&__prev {
		align-items: center;
		background-color: $c-secondary;
		border-radius: 5px;
		display: flex;
		height: 65px;
		justify-content: center;
		left: -35px;
		position: absolute;
		top: 60%;
		transform: translateY(-50%);
		width: 65px;
		z-index: 10;

		@include rwd('laptop-s') {
			height: 50px;
			left: -20px;
			width: 50px;

			svg {
				max-width: 20px;
			}
		}

		@include rwd('tablet-s') {
			display: none;
		}
	}

	&__next {
		align-items: center;
		background-color: $c-secondary;
		border-radius: 5px;
		display: flex;
		height: 65px;
		justify-content: center;
		position: absolute;
		right: -35px;
		top: 60%;
		transform: translateY(-50%);
		width: 65px;
		z-index: 10;

		@include rwd('laptop-s') {
			height: 50px;
			right: -20px;
			width: 50px;

			svg {
				max-width: 20px;
			}
		}

		@include rwd('tablet') {
			display: none;
		}
	}

	&__dots {
		align-items: center;
		bottom: 80px;
		display: flex;
		gap: 15px;
		justify-content: center;
		position: absolute;

		@include rwd('tablet') {
			bottom: 35px;
		}
	}

	.dot {
		background-color: rgba(255, 255, 255, 0.7);
		border-radius: 3px;
		cursor: pointer;
		height: 14px;
		transition: all 0.3s ease-in-out;
		width: 14px;

		&--active {
			background-color: rgba(211, 226, 109, 1);
		}
	}

	&__image {
		@include tilesWidthCustom(50px, 2, 50);

		@include rwd('tablet') {
			width: 100%;
		}
	}

	&__imageItem {
		border-radius: 12px;
		width: 100%;

		&--desktop {
			@include rwd('tablet-s') {
				display: none;
			}
		}

		&--mobile {
			display: none;

			@include rwd('tablet-s') {
				display: block;
			}
		}
	}

	&--default {
		& .hero__subHeading,
		& .hero__text {
			color: $c-pri-text;
		}

		& .hero__heading {
			color: $c-black;
		}
	}

	&--img {
		background: $c-black;
	}

	&--light {
		background: $c-light;
	}
}
