$gridWidth: 1360px;
$gridWidthSmall: 1200px;
$gridWidthFluid: 1600px;
$gridGutter: 50px;
$rtlActive: false;
$mobileFirst: false; // default second arg for rwd mixin

$boxShadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
