@mixin clear() {
	& {
		&:before,
		&:after {
			clear: both;
			content: '';
			display: block;
		}
	}
}

/*

  Example:

    div {
      @include clear();
    }

  Result:

    div:before,
    div:after {
      content: '';
      display: block;
      clear: both;
    }

*/
