@use '../settings' as *;

@mixin preventPointerEvents() {
	pointer-events: none;
}

/*

  Example:

    &__linkBtn {
      @include preventPointerEvents();
    }

  Result:

    This mixin is adding code that prevent text selecting.


*/
