@use '../settings' as *;
@use '../tools' as *;

.categoryListing {
	padding-bottom: 48px;
	padding-top: 48px;

	&__wrapper {
	}

	&__helper {
	}

	&__header {
	}

	&__heading {
	}

	&__headingItem {
	}

	&__actions {
		align-items: flex-end;
		display: flex;
		gap: 30px;
		justify-content: space-between;
		margin-bottom: 48px;

		@include rwd('phone-xxl') {
			align-items: flex-start;
			flex-direction: column;
			gap: 15px;
		}
	}

	&__tiles {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}

	&__tile {
		@include tilesWidth(30px, 3);

		@include rwd('tablet') {
			@include tilesWidth(30px, 2);
		}

		@include rwd('phone-xxxl') {
			width: 100%;
		}
	}

	&__empty {
	}
}
