@use '../settings' as *;
@use '../tools' as *;

.singlePost {
	padding-top: 30px;

	&__wrapper {
	}

	&__helper {
	}

	&__breadcrumbs {
		margin-bottom: 30px;

		& .breadcrumbs__arrow {
			& path {
				fill: $c-black;
			}
		}
	}

	&__container {
	}

	&__moreArticles {
	}
}
