@use '../../../src/scss/settings' as *;
@use '../../../src/scss/tools' as *;

.imageSlider {
	&__wrapper {
	}

	&__helper {
	}

	&__heading {
		color: $c-white;
		font-family: $f-Mackinac;
		margin-bottom: 60px;
		text-align: center;
	}

	&__headingItem {
		@include heading();
	}

	&__sliderHelper {
	}

	&__sliderBox {
	}

	&__slider {
		&[data-active='false'] {
			display: flex;
			gap: 30px;
		}

		&--1 {
			&[data-active='false'] {
				& .imageSlider__item {
					width: 100%;
				}
			}
		}

		&--2 {
			&[data-active='false'] {
				& .imageSlider__item {
					@include tilesWidth(30px, 2);

					@include rwd('tablet-xl') {
						width: 100%;
					}
				}
			}
		}

		&--3 {
			&[data-active='false'] {
				& .imageSlider__item {
					@include tilesWidth(30px, 3);

					@include rwd('tablet-xl') {
						@include tilesWidth(30px, 2);
					}

					@include rwd('tablet-s') {
						width: 100%;
					}
				}
			}
		}

		&--4 {
			&[data-active='false'] {
				& .imageSlider__item {
					@include tilesWidth(30px, 4);

					@include rwd('tablet-xl') {
						@include tilesWidth(30px, 2);
					}

					@include rwd('tablet-s') {
						width: 100%;
					}
				}
			}
		}

		&--5 {
			&[data-active='false'] {
				& .imageSlider__item {
					@include tilesWidth(30px, 5);

					@include rwd('tablet-xl') {
						@include tilesWidth(30px, 3);
					}

					@include rwd('tablet-s') {
						width: 100%;
					}
				}
			}
		}

		&--6 {
			&[data-active='false'] {
				& .imageSlider__item {
					@include tilesWidth(30px, 6);

					@include rwd('tablet-xl') {
						@include tilesWidth(30px, 4);
					}

					@include rwd('tablet-s') {
						width: 100%;
					}
				}
			}
		}
	}

	&__item {
	}

	&__itemHelper {
	}

	&__itemImage {
		aspect-ratio: 4 / 3;
		border-radius: 8px;
		object-fit: cover;
		width: 100%;
	}

	&__nav {
		align-items: center;
		display: flex;
		gap: 12px;
		justify-content: center;
		margin-top: 24px;

		&[data-active='false'] {
			display: none;
		}
	}

	&__navBtn {
		align-items: center;
		aspect-ratio: 1 / 1;
		background: $c-tertiary;
		border: 1px solid $c-transparent;
		border-radius: 8px;
		color: $c-white;
		cursor: pointer;
		display: inline-flex;
		justify-content: center;
		text-align: center;
		transition: $tr-hover;
		width: 40px;

		&:hover {
			background: $c-tertiary-hov;
		}

		& svg {
			width: 23px;
		}
	}

	&--default {
		& .imageSlider__heading {
			color: $c-black;
		}
	}

	&--light {
		background: $c-light;
	}
}
