@use '../settings' as *;
@use '../tools' as *;

.postTile {
	border: 1px solid $c-transparent;
	display: block;

	&:focus-visible {
		border-color: $c-focus;
	}

	&__title {
		transition: $tr-hover;

		@include fontSet(1.6rem, $fw-Bold, 2.4rem);
	}

	&:hover {
		& .postTile__thumbnailImage {
			@include transform(scale(1.05));
		}

		& .postTile__title {
			color: $c-primary;
		}
	}

	&__thumbnail {
		aspect-ratio: 4 / 2.5;
		border-radius: 12px;
		margin-bottom: 12px;
		overflow: hidden;
	}

	&__thumbnailImage {
		height: 100%;
		object-fit: cover;
		transition: $tr-hover;
		width: 100%;
	}

	&__content {
	}

	&__details {
		align-items: center;
		display: flex;
		gap: 20px;
		margin-bottom: 8px;
	}

	&__date,
	&__category {
		@include tilesWidth(20px, 2);
		@include fontSet(1.4rem, $fw-SemiBold, 1.4rem);
	}

	&__category {
		text-transform: uppercase;
	}

	&__date {
		text-align: right;
	}

	&__titleText {
		@include lineClamp(2);
	}
}
